# Dependencies
node_modules/

# Build output
.temp
dist/
src-tauri/target/
src-tauri/gen/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.*

# Project docs
.opencode
pixbox.md
ref/
run_dev.bat
